{{> content_top }}

<div class="col-md-8">
    <h2 class="learn-more-card-group">Embedding tweet</h2>
    <code>
        tweet "fermyontech" "1504846517571489794"
    </code>
    {{{ tweet "fermyontech" "1504846517571489794" }}}

    <h2 class="learn-more-card-group">Embedding gist</h2>
    <code>
        gist "rajatjindal" "9d28675effae764dd7501b82cbf3894d"
    </code>

    {{{ gist "rajatjindal" "9d28675effae764dd7501b82cbf3894d"}}}
</div>

{{> content_sidebar }}
{{> content_bottom }}