name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  assets:
    name: Build and release assets
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: rustup target add wasm32-wasi

      - name: Build WASM
        run: make build

      - name: Build bart
        run: make bart

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          generate_release_notes: true
          files: |
            target/wasm32-wasi/release/bartholomew.wasm
            target/release/bart
